# Created by https://www.gitignore.io/api/openfoam
# Edit at https://www.gitignore.io/?templates=openfoam



# OpenFOAM Postprocessing
# =============================================================================

# paraview/ParaFoam
*.foam
*.OpenFOAM
*.pvsm



# OpenFOAM Meshing
# =============================================================================

# mesh data that is no dictionary
constant/polyMesh
constant/polyMesh/points*
constant/polyMesh/faces*
constant/polyMesh/owner*
constant/polyMesh/neighbour*
constant/polyMesh/boundary*
constant/polyMesh/sets
constant/polyMesh/*
constant/extendedFeatureEdgeMesh/*

# Zones and levels
*Level*
*Zone*

# snappyHexMesh files that are not snappyHexMeshDict
constant/polyMesh/refinementHistory*
constant/polyMesh/surfaceIndex*
constant/triSurface

# freecad meshing
mesh_outside.stl


# End of https://www.gitignore.io/api/openfoam
